



/* CSS Variables */
:root {
    --ml-4: 1rem;
    --ml-2: 0.5rem;
    --clr-highlighter: #2F96AD;
    --clr-light: #9C9FA0;
    --clr-orange: #CD7930;
    --clr-green: #0A8A3D;
    --clr-red: #F21313;
    --clr-white: #fff;
}




/* Search */


.search__field::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: italic;
    color: var(--clr-highlighter);
}

.search__field {
    border: 1px solid var(--clr-highlighter);
    outline: 0;
    border-radius: 2rem;
    padding: var(--ml-2) var(--ml-4);
    max-width: 350px;
    width: 19.875rem;
}

.search__option {
    padding: .4rem;
    color: #484545;
    gap: var(--ml-2);
}



